:root {
  --fg: #d1f0fd;
  --bg: #67645e;
}
html {
  font-size: 18px;
  line-height: 20px;
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" height="100px" width="100px"> <g> <line x1="0" y1="0" x2="100" y2="0" stroke="black" stroke-width="5px" /> </g> </svg>'); */
  background-repeat: repeat-y;
  background-size: 100% 20px;
}

body {
  background: var(--bg);
  color: var(--fg);
  margin: 0;
  font-family: "Telegraf-Regular", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  display: grid;
}

@font-face {
  font-family: "Telegraf-Regular";
  src: url("../public/fonts/Telegraf-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Telegraf-Bold";
  src: url("../public/fonts/Telegraf-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
blockquote,
ul,
ol {
  font: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  hyphens: auto;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

/* Link */
a {
  // font-family: "Telegraf-Regular", sans-serif;
  text-decoration: none;
  line-height: inherit;
  font-size: inherit;
  hyphens: auto;
  color: inherit;
}

.navigation {
  border-bottom: 2px solid var(--fg);
  background: var(--bg);
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.App {
  text-align: left;
  grid-column: span 7;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.vertical-padder {
  padding-top: 20px;
  padding-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.column-span-1 {
  grid-column: span 1;
}
.column-span-2 {
  grid-column: span 2;
}
.column-span-3 {
  grid-column: span 3;
}
.column-span-4 {
  grid-column: span 4;
}
.column-span-5 {
  grid-column: span 5;
}
.column-span-6 {
  grid-column: span 6;
}
.column-span-7 {
  grid-column: span 7;
}

section {
  padding: 20px 0;
}

.minimal-hr {
  // height: 100px;
  border: 1px solid var(--fg);
  // border-left: 0px solid transparent;
}

/* Overview section */
.overview {
  hyphens: none;
  -webkit-font-smoothing: antialiased;
  font-size: 28pt;
  line-height: 30pt;
  // margin-top: 28pt;
}

.App-header {
}

/* Circle Button */
.button-section {
  height: 380px;
}

.button-container {
  position: relative;
  width: 340px;
  height: 340px;
  transition: transform 0.5s ease-out;
  perspective: 1px;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  &.ragged {
    transform: rotateY(180deg);
  }
}

.circle-button {
  width: 100%;
  height: 100%;
  border-radius: 300px;
  border: 2px solid var(--fg);
  position: absolute;
  left: 0;
  backface-visibility: hidden;
  font: inherit;
  z-index: -10;

  &.rag-on {
    background: var(--fg);
    color: var(--bg);
  }
  &.rag-off {
    background: transparent;
    color: var(--fg);
    transform: rotateY(180deg);
  }
}

/* cancel the circle button border when hovering */
.circle-button:focus {
  outline: none;
}

/* Article */
article {
  padding-right: 20px;
}

.articleBody {
  border-right: 2px solid var(--fg);
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  // padding-top: 20px;
  // * + * {
  //   margin-top: 20px;
  // }
}

.footnote {
  font-size: 10pt;
  line-height: 12pt;
  padding-top: 20px;
  * + * {
    margin-top: 20px;
  }
}

.ellipses-hr {
  color: var(--fg);
  text-align: center;
  border: none;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  &::before {
    content: "[...]";
  }
}

.paragraph-indent {
  padding-left: 60px;
}

/* text highlight */
::selection {
  background: var(--fg);
}

@media (pointer: fine) {
  /* invert cursor */
  * {
    cursor: none;
  }

  a.link {
    cursor: none;
  }

  .cursor {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(var(--x, 0), var(--y, 0));
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: difference;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background: var(--fg);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.2s ease;
      will-change: transform;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: var(--bg);
      transition: opacity 0.2s ease;
    }
    &.state--hovered {
      &::before {
        transform: translate(-50%, -50%) scale(0.4, 0.4);
      }
      &::after {
        opacity: 0;
      }
    }
  }
}

/* styling for example section of the site */
.exmaple {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* back to top button */
.backtoTop {
  font: inherit;
  color: currentColor;
  border: none;
  display: block;
  background: none;
  width: 100%;
  padding-top: 20pt;
  padding-bottom: 20pt;
  text-align: center;
}

.tabs {
  position: relative;
}
/* Tab */
.tab-content {
  width: 100%;
  position: absolute;
  padding-top: var(--header-height);
}

/* Hover Effect on text to show image overlay */
.HoverImage {
  display: inline;
  margin: 0;
}
.hover-title {
  text-decoration: underline;
  display: inline;
  pointer-events: auto;
}
body:not(.mobile) .hover-title:hover + .hover-image {
  opacity: 1;
  pointer-events: none;
}
.hover-image {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 10rem);
  height: calc(100vh - 10rem);
}

@media (max-width: 800px) {
  .overview {
    font-size: 14pt;
    line-height: 16pt;
    padding-right: 20px;
    grid-column: span 7;
  }

  .column-span-2 {
    grid-column: span 7;
  }

  .articleBody {
    padding-right: 0px;
    grid-column: span 7;
    border: none;
  }

  .footnote {
    padding-right: 0px;
    line-height: 12pt;
    border-top: 2px dotted var(--fg);
    margin-bottom: 20pt;
    grid-column: span 7;
  }

  .App {
    text-align: left;
  }

  .button-section {
    position: center;
    height: 400px;
  }
  .button-container {
    text-align: center;
    position: relative;
    width: 255px;
    height: 255px;
  }

  .exmaple {
    grid-column: span 7;
  }

  img {
    grid-column: span 7;
    width: 100vw;
    height: auto;
    align-items: center;
    padding-right: 0px;
    padding-top: 20px;
  }

  .siteTitle {
    grid-column: span 7;
  }

  .siteNav {
    grid-column: span 7;
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .overview {
    grid-column: span 4;
  }
}
