// $bp_medium: 900px;
// $bp_large: 1200px;
// @mixin min-width($media) {
//   @media only screen and (min-width: $media) {
//     @content;
//   }
// }

html {
  font-size: 18px;
  line-height: calc(20 / 18);
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" height="100px" width="100px"> <g> <line x1="0" y1="0" x2="100" y2="0" stroke="black" stroke-width="5px" /> </g> </svg>'); */
  background-repeat: repeat-y;
  background-size: 100% 20px;
}

body {
  background: #67645e;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  display: grid;
}

@font-face {
  font-family: "Union-Regular";
  src: url("/Users/mitchellhou/Documents/ragger-site/public/fonts/Union-Regular.otf")
    format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Union-Italic";
  src: url("/Users/mitchellhou/Documents/ragger-site/public/fonts/Union-Italic.otf")
    format("otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Union-Bold";
  src: url("/Users/mitchellhou/Documents/ragger-site/public/fonts/union_bold.otf")
    format("otf");
  font-weight: Bold;
  font-style: Normal;
}

@font-face {
  font-family: "Union-BoldItalic";
  src: url("/Users/mitchellhou/Documents/ragger-site/public/fonts/Union-BoldItalic.otf")
    format("otf");
  font-weight: Bold;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
blockquote,
ul,
ol {
  font: inherit;
  font-family: "Union-Bold", sans-serif;
  line-height: inherit;
  font-size: inherit;
  color: #d1f0fd;
  hyphens: auto;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Link */
a {
  font-family: "Union-Bold", sans-serif;
  line-height: inherit;
  font-size: inherit;
  hyphens: auto;
  color: #d1f0fd;
}

.App {
  text-align: left;
  padding: 20px;
  grid-column: span 7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.column-span-1 {
  grid-column: span 1;
}
.column-span-2 {
  grid-column: span 2;
}
.column-span-3 {
  grid-column: span 3;
}
.column-span-4 {
  grid-column: span 4;
}
.column-span-5 {
  grid-column: span 5;
}
.column-span-6 {
  grid-column: span 6;
}
.column-span-7 {
  grid-column: span 7;
}

section {
  padding: 20px 0;
}

.minimal-hr {
  // height: 100px;
  border: 1px solid #d1f0fd;
  margin-left: -20px;
  margin-right: -20px;
  // border-left: 0px solid transparent;
}

/* Overview section */
.overview {
  font-family: "Union-regular", sans-serif;
  hyphens: none;
  -webkit-font-smoothing: antialiased;
  font-size: 28pt;
  margin-top: 28pt;
}

.App-header {
}

/* Circle Button */
.button-section {
  height: 380px;
}

.button-container {
  position: relative;
  width: 340px;
  height: 340px;
  transition: transform 0.5s ease-out;
  perspective: 1px;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  &.ragged {
    transform: rotateY(180deg);
  }
}

.circle-button {
  width: 100%;
  height: 100%;
  border-radius: 300px;
  border: 2px solid #d1f0fd;
  position: absolute;
  left: 0;
  backface-visibility: hidden;
  font: inherit;

  &.rag-on {
    font-family: "Union-Bold", sans-serif;
    background: #d1f0fd;
    color: #67645e;
  }
  &.rag-off {
    font-family: "Union-Bold", sans-serif;
    background: #67645e;
    color: #d1f0fd;
    transform: rotateY(180deg);
  }
}

/* cancel the border when hovering */
.circle-button:focus {
  outline: none;
}

/* Article */
article {
  padding-right: 20px;
}

.articleBody {
  border-right: 2px solid #d1f0fd;
  padding-right: 20px;
  padding-top: 20px;
  // padding-top: 20px;
  // * + * {
  //   margin-top: 20px;
  // }
}

.footnote {
  font-size: 10pt;
  padding-top: 20px;
  * + * {
    margin-top: 20px;
  }
}

.ellipses-hr {
  font-family: "Union-Bold", sans-serif;
  color: #d1f0fd;
  text-align: center;
  border: none;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  &::before {
    content: "[...]";
  }
}

.paragraph-indent {
  padding-left: 60px;
}

/* text highlight */
::selection {
  background: rgba(0, 0, 0, 0.99);
  color: black;
}

/* invert cursor */
* {
  cursor: none;
}

a.link {
  cursor: none;
}

.cursor {
  position: absolute;
  width: 80px;
  height: 80px;
  background: whitesmoke;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 10;
  mix-blend-mode: difference;
  pointer-events: none;
}

.cursor:hover {
  width: 50px;
  height: 50px;
}

/* styling for example section of the site */
.exmaple {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* image setting */
img {
  display: inline;
  padding-right: 20px;
  width: 20vw;
  height: auto;
}

/* back to top button */
.backtoTop {
  padding-top: 20pt;
  padding-bottom: 20pt;
  text-align: center;
}

/* Mobile Screen Size Adjustment */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 800px) {
  .overview {
    padding-right: 20px;
    grid-column: span 7;
  }

  .column-span-2 {
    grid-column: span 7;
  }

  .articleBody {
    padding-right: 0px;
    grid-column: span 7;
    border: none;
  }

  .footnote {
    padding-right: 0px;
    border-top: 2px dotted #d1f0fd;
    margin-bottom: 20pt;
    grid-column: span 7;
  }

  .App {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
  }

  .button-container {
    text-align: center;
    position: relative;
    width: 255px;
    height: 255px;
  }

  .exmaple {
    grid-column: span 7;
  }

  img {
    grid-column: span 7;
    width: 100vw;
    height: auto;
    align-items: center;
    padding-right: 0px;
    padding-top: 20px;
  }
}

@media (min-width: 1200px) {
  .overview {
    grid-column: span 4;
  }
}
